* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    background-color: #fff;
    color: #000;
    transition: background 0.3s, color 0.3s;
  }
  
  .gornji-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(rgb(49, 82, 49), rgb(156, 203, 156));
    padding: 0 20px;
    padding-top: 10px;
    flex-wrap: wrap;
  }
  
  .levi-deo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .levi-deo img{
    width: 250px;
    height: auto;
  }
  
  .broj-logo {
    font-size: 60px;
    font-weight: bold;
    color: #ffbb00;
    text-shadow: -6px 4px 4px rgba(0,0,0,0.3);
  }
  
  .desni-deo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
  }
  
  .desni-gornji {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 5px;
  }
  
  .desni-gornji input[type="text"] {
    width: 150px;
    padding: 7px;
    border: 2px solid #1e1e1e;
    border-radius: 3px;
  }
  
  .desni-gornji button {
    background-color: #ddd;
    border: 2px solid #222222;
    border-radius: 50%;
    height: 39px;
    padding: 5px 10px;
    margin-right: 18px;
    font-size: 12px;
    cursor: pointer;
  }
  
  .prazan-pravougaonik {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    height: 45px;
    background-color: #f0f0f0;
    border: 1px solid #aaa;
    border-radius: 5px;
  }
  
  .prazan-pravougaonik button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
  }

  .desni-donji {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
  }

  .navigacija {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
  }
  
  .navigacija a {
    text-decoration: none;
    justify-content: space-between;
    color: #000;
    margin: 0 29px;
    font-weight: bold;
  }
  
  .navigacija a:hover {
    text-decoration: underline;
  }
  
  .srednji-deo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20px;
    width: 100%;
    flex-wrap: wrap;
  }
  
  .srednji-levi-deo {
    width: 45%;
    margin-left: 90px;
  }

  .info-tekst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .info-tekst span.info {
    display: block;
    font-weight: bold;
    font-size: 18px;
  }
  
  .info-tekst a {
    color: blue;
    text-decoration-line: underline;
  }
  
  .podnaslov {
    font-weight: bold;
    display: block;
    margin-top: 15px;
  }
  
  .jezik-teksta {
    margin-left: 440px;
    margin-top: 20px;
  }
  
  .srednji-desni-deo {
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .srednji-desni-deo a {
    text-decoration: none;
    color: #1f4a70;
  }
  
  .register-dugme button {
    background-color: #e99c00;
    color: #f2ff00;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }

  .register-dugme button:hover {
    background-color: #222222;
    color: #f2ff00;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .kartice {
    width: 180px;
    background-color: white;
    border: 4px solid #16497e;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
  }

  .kartice:hover {
    width: 180px;
    background-color: rgb(216, 235, 255);
    border: 4px solid #2078d7;
    border-radius: 16px;
    transition: .2s;
  }
  
  .kartice img {
    width: 40px;
    height: 40px;
  }
  
  body.dark-mode {
    background-color: #222;
    color: #fff;
  }
  
  body.dark-mode a {
    color: #2b98db;
  }
  
  /*responzivnost za monbilne uredjaje */
  @media (max-width: 600px) {
    .gornji-banner {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .srednji-deo {
      flex-direction: column;
      align-items: center;
    }
  
    .srednji-levi-deo,
    .srednji-desni-deo {
      width: 100%;
    }
  
    .prazan-pravougaonik {
      width: 100%;
      justify-content: space-evenly;
    }
  }